.Post {
    width: 60%;
    margin-bottom: 50px;
}

.title {
    font-size: 35px;
    color: #2A8BF2;
    padding: 15px 0;
    border-bottom: 1px solid #2A8BF2;

    margin-bottom: 30px;
}

.text {
    color: #707C97;
    font-size: 20px;
}